/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUMBER_L 1
#define NAV_L 2


&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

&sk {
    release-after-ms = <2000>;
    quick-release;
};

/ { 

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <160>;
            bindings = <&kp BSPC>, <&kp LC(BSPC)>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc { 
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_colon {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp COLON>;
        };
        combo_enter { 
            timeout-ms = <50>;
            key-positions = <18 19>;
            bindings = <&kp ENTER>;
        };
    };

        keymap {
                compatible = "zmk,keymap";
                
        default_layer {
            bindings = <
            &kp  Q 	&kp W           &kp F       &kp P   	    &kp B                   &kp J           &kp L   	    &kp U           &kp Y           &kp SQT
            &hm LSHIFT A	    &kp R           &kp S       &kp T           &kp G 		            &kp M      &kp N           &kp E           &kp I           &hm RSHIFT O
            &hm LCTRL Z       &hm LWIN X     &hm LCTRL C  &hm LALT D   	&kp V              &kp K       &hm RALT H   &hm RCTRL CMMA   &hm RWIN DOT 	&hm RCTRL  SLASH
                                                &mo NAV_L      &kp SPC  				    &td0    &mo  NUMBER_L
            >;
		};

        numbers_layer {
            bindings = <
            &kp ESC     &kp  TAB      &kp LPAR        &kp RPAR       &kp EQUAL                           &kp GRAVE    &kp N7         &kp N8          &kp N9          &kp SEMI
            &kp BSLH     &kp LT          &kp LBKT       &kp RBKT       &kp GT                              &kp MINUS    &kp N4         &kp N5          &kp N6          &kp N0 
            &hm LSHIFT  LG(Z)   &kp LWIN   &hm LCTRL LBRC       &hm LALT RBRC  &hm LWIN  COLON         &kp SLASH    &hm RALT N1   &hm RCTRL N2    &hm RWIN N3    &hm RSHIFT ENTER 
                                        &to NUMBER_L     &kp SPC 				                    &td0   &to NAV_L   
            >;
		};
		 
		nav_layer {
            bindings = <
            &kp LALT 	        &kp TAB             &kp SEMI          &kp GRAVE      &kp SLASH    			            &kp HOME    &kp PG_DN   &kp PG_UP    &kp END    &kp DEL 
            &kp LC(LA(LEFT))    &kp LC(LA(DOWN))    &kp LC(LA(RIGHT))   &kp LA(SEMICOLON)   &kp CLCK                           &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT           &kp SEMICOLON
            &hm LSHIFT  LC(Z)      &hm LWIN LC(X)   &hm LCTRL LC(C)       &hm LALT  TAB     &kp LC(V)                        &bt BT_CLR  &kp RALT       &kp RCTRL       &kp RWIN               &hm RSHIFT ENTER
                                                                           &to NUMBER_L     &kp SPC  				 &kp LC(BSPC)    &to NAV_L  
            >;
		};  
	};
};